<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ControladorCitas</servlet-name>
        <servlet-class>Controlador.ControladorCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPadre</servlet-name>
        <servlet-class>Controlador.ControladorPadre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorServicios</servlet-name>
        <servlet-class>Controlador.ControladorServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVeterinarios</servlet-name>
        <servlet-class>Controlador.ControladorVeterinarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEspecialistas</servlet-name>
        <servlet-class>Controlador.ControladorEspecialistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRecepcionistas</servlet-name>
        <servlet-class>Controlador.ControladorRecepcionistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHijo</servlet-name>
        <servlet-class>Controlador.ControladorHijo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCitas</servlet-name>
        <url-pattern>/ControladorCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorServicios</servlet-name>
        <url-pattern>/ControladorServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVeterinarios</servlet-name>
        <url-pattern>/ControladorVeterinarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEspecialistas</servlet-name>
        <url-pattern>/ControladorEspecialistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRecepcionistas</servlet-name>
        <url-pattern>/ControladorRecepcionistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHijo</servlet-name>
        <url-pattern>/ControladorHijo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPadre</servlet-name>
        <url-pattern>/ControladorPadre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
